{% extends 'layout.html' %}

{% block title %} Clima {% endblock %}


{% block body %}
    <h2>Clima actual en {{ ciudad }}</h2>

    {% if clima %}
    <ul>
        <li><u>Temperatura</u>: {{ clima.temperature }} °C</li>
        <li><u>Viento</u>: {{ clima.windspeed }} km/h</li>
        <li><u>Dirección del viento</u>: {{ clima.winddirection }}°</li>
        <li><u>Hora de lectura</u>: {{ clima.time }}</li>
    </ul>    
{% else %}
    <p>No se pudo obtener el clima actual.</p>
{% endif %}

{% endblock %}